---
# clang-tidy configuration for dotta

Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-assert-side-effect,
  -bugprone-easily-swappable-parameters,
  -bugprone-sizeof-expression,
  -bugprone-assignment-in-if-condition,
  -bugprone-narrowing-conversions,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-macro-repeated-side-effects,
  -bugprone-infinite-loop,
  -bugprone-macro-parentheses,
  -bugprone-posix-return,
  -bugprone-reserved-identifier,
  -bugprone-signal-handler,
  -bugprone-signed-char-misuse,
  -bugprone-sizeof-expression,
  -bugprone-branch-clone,
  -cert-err33-c,
  -cert-dcl03-c,
  -misc-include-cleaner,
  -performance-no-int-to-ptr,
  -misc-no-recursion,
  -misc-static-assert,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-duplicate-include,
  -readability-else-after-return,
  -readability-isolate-declaration,
  -readability-implicit-bool-conversion,
  -readability-avoid-nested-conditional-operator,
  -readability-math-missing-parentheses,
  -readability-misleading-indentation,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.insecureAPI.*

WarningsAsErrors: '*'

HeaderFilterRegex: '^(src|include)/.*\.h$'

FormatStyle: file

CheckOptions:
  readability-identifier-naming.StructCase: aNy_CasE
  readability-identifier-naming.FunctionCase: aNy_CasE
  readability-identifier-naming.VariableCase: aNy_CasE
  readability-identifier-naming.ConstantCase: aNy_CasE
  readability-identifier-naming.GlobalConstantCase: aNy_CasE
  readability-identifier-naming.StaticConstantCase: aNy_CasE
  readability-identifier-naming.LocalConstantCase: aNy_CasE
  readability-identifier-naming.MacroDefinitionCase: aNy_CasE

ExtraArgs: [-std=c11, -DDEBUG]
